@font-face {
	font-family: "Product Sans";
	src: url("ProductSans-Regular.ttf");
	font-weight:400;
}
body {
  font: 1em "Product Sans", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  height: 100vh;
  color: #888b8d;
}
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.rows {
	text-align: center;
}
#header {
	font-size: 2em;
	text-align: center;
	font-weight: 100;
	vertical-align: middle;
}
#answer {
	font-size: 10em;
}
